<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.akash.Alien" autowire="byName">
<!--        <constructor-arg name="age" value="24"/>-->
<!--        <constructor-arg name="lap" ref="lap"/>-->
        <property name="age" value="27"/>
<!--        <property name="com" ref="lap"/>-->
<!--        <property name="com" ref="desk"/>-->
    </bean>
    <bean id="com" class="org.akash.Laptop"/>
    <bean id="desk" class="org.akash.Desktop" lazy-init="true"/>

</beans>

